.container
  .appname
    span P
    .logo
      img.logo--img( src="../../assets/img/codepen-logo.png" )
      .logo--back
    span zt.

  .appdesc The unofficial CodePen client
  
  .auth
    .login
      .login--credentials
        label( for="usr" ) CODEPEN USERNAME
        input#usr( [(ngModel)]="username" )
      .login--buttons
        .login--cta.button( (click)="login(username)" ) Go!
    .divider
      .divider--bar
      .divider--text OR
      .divider--bar
    .host
      .host--cta.button( (click)="login('host')" )
        i.material-icons event_seat
        span Log in as host