.posts--header( rollingListHeader )
  .header--users
    .header--user( 
      *ngFor="let post of posts; let idx = index"
      "[ngClass]"="{'user__active': getActiveState(idx)}"
    )
      .header--avatar( (click)="goToProfile(post.user.username)" )
        img( [src]="post.user.avatar" )
      .header--username @{{ post.user.username }}
.posts
  .post( 
    *ngFor="let post of posts; let idx = index"
    "[rollingListItem]"="rollingListItemModel"
    "[rollingListIndex]"="idx"
  )
    .post--title {{ post.title }}
    .post--preview( [innerHTML]="post.content" )
    .post--divider
      hr
    .post--stats
      .stats--block
        i.material-icons remove_red_eye 
        .stats--text {{ post.views }}
      .stats--block
        i.material-icons favorite
        .stats--text {{ post.loves }}
      .stats--block
        i.material-icons comment
        .stats--text {{ post.comments }}

.menu( [scrollClass]="scrollClassModel" )
  .menu--bar( 
    "[ngClass]"="{menu__open: menuOpen}"
  )
    .menu--action( *ngIf="user !== 'host'" )
      i.material-icons face
      .menu--desc Profile
    .menu--action( *ngIf="user !== 'host'" )
      i.material-icons favorite
      .menu--desc Loved
    .menu--action( *ngIf="user !== 'host'" )
      i.material-icons save
      .menu--desc Saved
    .menu--action( *ngIf="user === 'host'" )
      i.material-icons exit_to_app
      .menu--desc Login
    .menu--action( *ngIf="user === 'host'" )
      i.material-icons search
      .menu--desc Search
  .menu--icon( (click)="showMenu()" )
    i.material-icons home